@font-face {font-family: "chiller"; src: url("./fonts/chiller.ttf")}
@font-face {font-family: "oddballz"; src: url("./fonts/oddballz.ttf")}
@font-face {font-family: "gen"; src: url("./fonts/Gen-Light.otf")}
@font-face {font-family: "bybsy"; src: url(./fonts/bybsy-regular-webfont.ttf);}
@font-face {font-family: "playwrite"; src: url(./fonts/PlaywriteCU-VariableFont_wght.ttf);}

body {
  /* font-family: 'gen'; */
  font-family: Courier;
  font-weight: 600;
  font-size: 0.8rem;
  /* background-color: rgb(30, 212, 152); */
  /* background-color: black; */
  background-color: rgb(134, 233, 200);
  color: black;
  display: grid;
  gap: 10px;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

 a{
   color: rgb(186, 59, 211);
 }

 a:visited{
   color: rgb(38, 153, 192)
 }

 a:hover{
   color: hotpink;
 }


div {
  max-width: 500px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #0a0a23;
  color: whitesmoke;
  width: 90%;
  border: 1px solid #0a0a23;
}

 #banner{
   /* display: block;
   margin-left: auto;
   margin-right: auto; */
   margin-bottom: 5px;
   max-width: 500px;
   width: 95%;
   border: 5px solid rgb(169, 28, 197)

 }

#bring {
  display: grid;
  justify-content: center;
  align-items: center;
}

#bring-box {
  width: 90vw;
  height: 150px;
}

#bring-button {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#bring-button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#bring-button:active {
	position:relative;
	top:1px;
}

.bye {
  display: none;
  visibility: hidden;
}

.corn {
  width: 23.6px;
  /* filter: invert(85%) sepia(81%) saturate(453%) hue-rotate(359deg) brightness(95%) contrast(91%); */
}


#dob-disp {
  height: 70px;
}


.floating0 {
  position: relative;
  animation: float 3s ease-out infinite;
}

.floating1 {
  position: relative;
  animation: float 7s ease-in-out infinite;
}

.floating2 {
  position: relative;
  animation: float 1.5s ease-in-out infinite;
}

.floating3 {
  position: relative;
  animation: float 5s ease-in-out infinite;
}

fieldset{
  border-color: rgb(169, 28, 197)
}

footer{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 10px;
   align-items: center;
   justify-content: center;
   margin-top: 25px;
}

.item {
  width: 33%;
  height: 150px;
}

#month-slider {
  /* writing-mode: vertical-lr; */
  width: 80%;
}

#day-slider {
  width: 100%;
}

 legend{
   font-family: 'oddballz';
   color: rgb(37, 36, 36)
 }

.personal {
  /* color:#0a0a23;
  font-weight: 600; */
  background-size: contain;
  /* height: 615px; */
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

#personal{
  border-radius: 5px;
  background-position: center top;
}

.shop-button-box{
  display: flex;
  gap: 15px;
  align-items: end;
}

#test {
  display: grid;
  justify-content: center;
}

#test-pic-box {
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
  gap: 5px;
  overflow: hidden;
}
.test-pic {
  flex: 1 0 50%;
  max-width: 48%;
  max-height: 48%;
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  transition: all 1s;
}

.test-pic:hover {
  /* transform: scale(1.1); */
  rotate: 360deg;
  /* box-shadow: 0 0 115px rgb(101, 228, 101); */
}
